<div class="card">
  <div class="card-header">
    <div>
      <div class="card-title gradient-text">Previsioni Future</div>
      <div class="card-subtitle">Aggiornate ogni 3 ore</div>
    </div>
  </div>

  <p *ngIf="loading" class="loading-text">Caricamento in corso…</p>
  <p *ngIf="errorMsg" class="error-text">{{ errorMsg }}</p>

  <div *ngIf="dati" class="forecast-list">
    <div *ngFor="let item of dati.list" class="forecast-item">
      <div class="f-time">
        {{ item.dt_txt.split(' ')[0] | date:'dd/MM' }}<br>
        {{ item.dt_txt.split(' ')[1].slice(0,5) }}
      </div>
      <div class="f-temp">{{ item.main.temp }}°C</div>
      <div class="f-desc">{{ item.weather[0].description }}</div>
      <div class="f-icon">
        <img
          [src]="'https://openweathermap.org/img/wn/' + item.weather[0].icon + '@2x.png'"
          [alt]="item.weather[0].description"
        />
      </div>
    </div>
  </div>
</div>
